## Let's download datasets!

![imagen_data](../images/imagen.jpg)

First, we open the Kaggle’s API documentation... THAT YOU HAVE TO READ. It may seem boring but… it will save your life more than once too.

**Links**
- https://www.kaggle.com/docs/api
- https://medium.com/@jeff.daniel77/accessing-the-kaggle-com-api-with-jupyter-notebook-on-windows-d6f330bc6953
- https://medium.com/@ankushchoubey/how-to-download-dataset-from-kaggle-7f700d7f9198

### First things first

Hacemos la instalación de la CLI de Kaggle desde la carpeta raíz de nuestro user con la terminal, no con el jupyter.   
#!pip3 install kaggle

### Of course

An account on https://www.kaggle.com/ is needed!

### Download API Token

- Here:"https://www.kaggle.com/<username>/account"

![token](../images/token.png)

### Copy the token

![token](../images/terminal.png)

Copy the token to the hidden folder (.kaggle)

### Data is coming

![gif](https://media.giphy.com/media/xUA7b7vx3DEZxMA9Zm/giphy.gif)

Vamos a bajarnos [este](https://www.kaggle.com/neuromusic/avocado-prices) dataset

In [13]:
#descargamos el dataset con el API command de kaggle
!kaggle datasets download -d neuromusic/avocado-prices

Downloading avocado-prices.zip to /mnt/c/Users/agarc/Ironhack_Mar21/using_Kaggle-API/notebooks
100%|████████████████████████████████████████| 629k/629k [00:00<00:00, 3.35MB/s]
100%|████████████████████████████████████████| 629k/629k [00:00<00:00, 3.23MB/s]

In [14]:
#miramos el contenido de la carpeta y vemos que se ha descargado un .zip
!ls

avocado-prices.zip  kaggle_api.ipynb

In [5]:
#descomprimimos el .zip 
!tar -xzvf avocado-prices.zip

Archive:  avocado-prices.zip
  inflating: avocado.csv

In [ ]:
#si no funciona ese comando nos descargamos zip y luego
#!sudo apt-get install unzip
!unzip avocado-prices.zip

Archive:  avocado-prices.zip
replace avocado.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [6]:
#borramos el zip ya que lo hemos descomprimido y ya tenemos el csv
!rm -rf avocado-prices.zip

In [1]:
#miramos que todo ok :) 
!ls

avocado-prices.zip  avocado.csv  kaggle_api.ipynb

In [8]:
#movemos el csv de la carpeta actual a la carpeta data, que está en un nivel superior
!mv avocado.csv ../data/avocado.csv

In [9]:
#volvemos a ver qué hay dentro de la carpeta porque somos toc y nos gusta hacer ls
!ls

kaggle_api.ipynb

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../data/avocado.csv")

In [4]:
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany